<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jawad.salarytaxcalculator30dec2015">

    <application
        android:allowBackup="true"
        android:icon="@drawable/playstoreicon"
        android:label="TAX Calculator Pakistan 2015-16"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Splashscreen"
            android:label="TAX Calculator Pakistan 2015-2016"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TAXActivity"
            android:parentActivityName=".MainActivity"
            android:label="TAX SLABS">
        </activity>
        </application>

</manifest>
